<footer class="bg-custom-gray text-custom-beige py-12">
    <div class="container mx-auto flex flex-col md:flex-row justify-center md:justify-between items-center text-center md:text-left">
        <div class="flex flex-col justify-center items-center mb-6 md:mb-0 mt-6 md:mt-0">
            <h2 class="text-2xl font-bold font-merriweather">Skagite</h2>
            <p class="text-md font-light mt-2">Un lieu de détente et d'aventure</p>
        </div>
        
        <div class="flex flex-col space-y-4 mb-6 md:mb-0 mt-6 md:mt-0">
            <p class="font-semibold">Nos chambres</p>
            <a *ngFor="let room of rooms" [href]="'rooms/' + room.id" class="hover:underline text-sm">{{room.name}}</a>
        </div>
        
        <div class="flex flex-col space-y-4 mt-6 md:mt-0">
            <p class="font-semibold">Contactez-nous</p>
            <a href="tel:+496170961709" class="text-sm">Téléphone : +33 1 23 45 67 89</a>
            <a href="mailto: contact@skagite.ng" class="text-sm">Email : contact&#64;skagite.nc</a>
            <p class="text-sm">Adresse : 123 Rue du Lagon, Nouvelle-Calédonie</p>
        </div>
    </div>
</footer>

