<header class="bg-[#F2F0E5] px-8 py-4 flex justify-between items-center
fixed top-0 left-0 right-0 z-10 shadow-md">
    <h1 class="font-merriweather text-2xl font-bold text-[#4C6173] cursor-pointer" (click)="navigateToHome()">Skagite
    </h1>
    <nav class="space-x-6 text-gray-700" *ngIf="rooms">
        <a *ngFor="let room of rooms" [href]="'rooms/' + room.id" class="hover:underline">{{room.name}}</a>
    </nav>
    <button class="bg-[#4C6173] text-white px-4 py-2">RÉSERVER</button>
</header>