<div class="bg-[#F2F0E5]">
    <app-header class="fixed top-0 left-0 right-0 z-10 shadow-md"></app-header>

    <app-hero-section></app-hero-section>

    <div class="container mx-auto py-16 px-4 ">
        <h1 class="text-4xl font-merriweather font-bold mb-12 text-[#4C6173]">Nos Chambres</h1>
        <hr class="border-t-2 border-[#E2E8F0] mb-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Card 1 -->
            <div class="house-card relative overflow-hidden cursor-pointer">
                <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-bungalow-2010-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*"
                    alt="Iconic Alpilles" class="w-full h-full object-cover">
                <div
                    class="overlay absolute inset-0 bg-black bg-opacity-50 opacity-0 transition-opacity duration-300 flex items-center justify-center">
                    <div class="text-center text-white p-4">
                        <h2 class="text-2xl font-merriweather font-bold">LAGOON BREEZE</h2>
                        <p class="mt-2">A Luxury Mas in Provence</p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="house-card relative overflow-hidden cursor-pointer">
                <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-view-2012-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*"
                    alt="Iconic Courchevel" class="w-full h-full object-cover">
                <div
                    class="overlay absolute inset-0 bg-black bg-opacity-50 opacity-0 transition-opacity duration-300 flex items-center justify-center">
                    <div class="text-center text-white p-4">
                        <h2 class="text-2xl font-merriweather font-bold">CORAL REEF</h2>
                        <p class="mt-2">A Luxury Chalet in Courchevel</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="house-card relative overflow-hidden cursor-pointer">
                <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-bungalow-2017-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*"
                    alt="Iconic Hossegor" class="w-full h-full object-cover">
                <div
                    class="overlay absolute inset-0 bg-black bg-opacity-50 opacity-0 transition-opacity duration-300 flex items-center justify-center">
                    <div class="text-center text-white p-4">
                        <h2 class="text-2xl font-merriweather font-bold">SUNSET RETREAT</h2>
                        <p class="mt-2">The Ocean Villa in Hossegor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-4 mx-auto flex flex-col md:flex-row">
        <!-- Bloc de gauche -->
        <div class="w-full md:w-2/3">
            <div class="mb-8 px-4">
                <h1 class="text-4xl font-merriweather font-bold mb-12 text-[#4C6173]">Découvrez notre gîte</h1>
                <hr class="border-t-2 border-[#E2E8F0] mb-8">
                <p class="text-lg">Profitez d'une expérience unique dans notre gîte, où chaque détail a été pensé pour
                    votre confort et votre plaisir.</p>
            </div>
            <div class="space-y-8 pb-12">
                <div class="flex items-start">
                    <div class="ml-4">
                        <h3 class="text-xl font-merriweather font-bold text-[#4C6173]">Tranquillité</h3>
                        <p>Un cadre paisible et serein pour des moments de relaxation totale.</p>
                    </div>
                </div>
                <div class="flex items-start">
                   
                    <div class="ml-4">
                        <h3 class="text-xl font-merriweather font-bold text-[#4C6173]">Coucher de soleil</h3>
                        <p>Admirez des couchers de soleil époustouflants depuis notre terrasse.</p>
                    </div>
                </div>
                <div class="flex items-start">
                    
                    <div class="ml-4">
                        <h3 class="text-xl font-merriweather font-bold text-[#4C6173]">Équipements modernes</h3>
                        <p>Des installations de pointe pour votre confort et commodité.</p>
                    </div>
                </div>
                <div class="flex items-start">
                    
                    <div class="ml-4">
                        <h3 class="text-xl  font-merriweather font-bold text-[#4C6173]">Nature à proximité</h3>
                        <p>Accès direct à des sentiers de randonnée et à des paysages naturels.</p>
                    </div>
                </div>
                <div class="flex items-start">
                   
                    <div class="ml-4">
                        <h3 class="text-xl font-merriweather font-bold text-[#4C6173]">Activités variées</h3>
                        <p>Profitez d'un large éventail d'activités de loisirs pour toute la famille.</p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 px-4">
                <div class="gallery-item h-80">
                    <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-traditional-trip-3032-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*" alt="Photo 1">
                </div>
                <div class="gallery-item h-80">
                    <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-oro-bay-6137-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*" alt="Photo 2">
                </div>
                <div class="flex flex-col gap-1">
                    <div class="gallery-item h-40">
                        <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-activities-resort-3038-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*" alt="Photo 3">
                    </div>
                    <div class="gallery-item h-40">
                        <img src="https://cache.marriott.com/is/image/marriotts7prod/md-ilpmd-nautical-activities-35336:Wide-Hor?wid=1336&fit=constrain" alt="Photo 5">
                    </div>
                </div>
                <div class="flex flex-col gap-1">
                    <div class="gallery-item h-40">
                        <img src="https://cache.marriott.com/is/image/marriotts7prod/md-ilpmd-bike-tour-23101:Wide-Hor?wid=1336&fit=constrain" alt="Photo 3">
                    </div>
                    <div class="gallery-item h-40">
                        <img src="https://cache.marriott.com/is/image/marriotts7prod/md-ilpmd-nautical-activities-3-40289:Wide-Hor?wid=1336&fit=constrain" alt="Photo 5">
                    </div>
                </div>
                <div class="gallery-item h-40 md:h-80">
                    <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-attraction-bay-2007-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*" alt="Photo 4">
                </div>
                <div class="gallery-item h-40 md:h-80">
                    <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-attraction-isle-1590-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*" alt="Photo 4">
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/3">
            <app-reservation></app-reservation>
        </div>

    </div>

    <!-- Conteneur principal -->
    <div class="container mx-auto px-4 py-8 pt-20 flex">
        <!-- Contenu principal à gauche -->
        <div class="w-full lg:w-2/3 mr-4">
            <!-- Section 1: Description du gîte -->
            <!-- <section class="mb-16">
                <h2 class="text-3xl font-extrabold text-[#1E40AF] mb-4">Description du Gîte</h2>
                <hr class="border-t-2 border-[#E2E8F0] mb-8">
                <p class="text-lg text-[#4A5568] leading-relaxed text-left">
                    Bienvenue au Skagîte, un havre de paix niché au cœur de Poé, en Nouvelle-Calédonie, offrant un cadre
                    idyllique pour se détendre et profiter de la nature environnante. Vous serez bercé par les vagues et
                    le
                    vent, dans un environnement propice à la relaxation et au bien-être.
                </p>
            </section> -->

            <!-- Section 2: Nos Chambres -->
            <!-- <section class="mb-16">
                <h2 class="text-3xl font-extrabold text-[#1E40AF] mb-4">Nos Chambres</h2>
                <hr class="border-t-2 border-[#E2E8F0] mb-8">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                    <div *ngFor="let room of rooms" class="bg-white rounded-lg shadow-lg overflow-hidden">
                        <h3 class="text-xl font-semibold text-center p-4">{{ room.name }}</h3>
                        <img [src]="room.imageUrl" alt="{{ room.name }}" class="w-full h-48 object-cover">
                        <p class="text-gray-700 p-4">{{ room.description }}</p>

                        Informations supplémentaires
                        <div class="px-4 py-2 text-gray-600">
                            <p><strong>Prix en semaine:</strong> {{ room.priceWeekday }} XPF / nuit</p>
                            <p><strong>Prix le week-end:</strong> {{ room.priceWeekend }} XPF / nuit</p>
                            <p><strong>Capacité adultes:</strong> {{ room.capacityAdults }}</p>
                            <p><strong>Capacité enfants:</strong> {{ room.capacityChildren }}</p>
                            <p><strong>Prix lit bébé:</strong> {{ room.cribPrice }} XPF</p>
                        </div>

                     Bouton Plus d'informations 
                        <div class="px-4 py-2">
                            <button
                                class="w-full bg-orange-500 text-white font-semibold py-2 rounded-lg mt-4 hover:bg-orange-600">
                                Plus d'informations
                            </button>
                        </div>
                    </div>
                </div>
            </section>-->

            <!-- Section 3: Localisation -->
   


            <!-- Section 4: Nos Avis -->
            <section class="mb-16">
                <h1 class="text-4xl font-merriweather font-bold mb-12 text-[#4C6173]">Nos avis</h1>
                <hr class="border-t-2 border-[#E2E8F0] mb-8">
                <div class="space-y-6">
                    <div class="container mx-auto space-y-6">
                        <div class="bg-gray-50 p-6 rounded-lg shadow-md">
                            <div class="flex items-center mb-4">
                                <span class="text-yellow-400 mr-2">
                                    ★★★★☆
                                </span>
                                <p class="text-lg font-semibold text-gray-900">Marie et Paul</p>
                            </div>
                            <p class="text-lg text-gray-700">"Un séjour inoubliable ! Le gîte est magnifique et bien situé. Les chambres sont très confortables et l’accueil est chaleureux. Nous reviendrons sans hésiter !"</p>
                        </div>
                        <div class="bg-gray-50 p-6 rounded-lg shadow-md">
                            <div class="flex items-center mb-4">
                                <span class="text-yellow-400 mr-2">
                                    ★★★★★
                                </span>
                                <p class="text-lg font-semibold text-gray-900">Jean et Sophie</p>
                            </div>
                            <p class="text-lg text-gray-700">"La vue sur le lagon depuis la chambre était incroyable. Un véritable paradis pour se détendre et profiter de la beauté de la nature. Je recommande vivement."</p>
                        </div>
                        <div class="bg-gray-50 p-6 rounded-lg shadow-md">
                            <div class="flex items-center mb-4">
                                <span class="text-yellow-400 mr-2">
                                    ★★★★☆
                                </span>
                                <p class="text-lg font-semibold text-gray-900">Alex et Emilie</p>
                            </div>
                            <p class="text-lg text-gray-700">"Le Skagîte est un lieu de rêve. Chaque détail est pensé pour rendre le séjour agréable. Nous avons adoré chaque minute !"</p>
                        </div>
                        <div class="bg-gray-50 p-6 rounded-lg shadow-md">
                            <div class="flex items-center mb-4">
                                <span class="text-yellow-400 mr-2">
                                    ★★★★★
                                </span>
                                <p class="text-lg font-semibold text-gray-900">Nathalie et Laurent</p>
                            </div>
                            <p class="text-lg text-gray-700">"Un accueil exceptionnel et une vue splendide. Nous avons passé des moments inoubliables et prévoyons déjà de revenir l'année prochaine."</p>
                        </div>
                        <div class="bg-gray-50 p-6 rounded-lg shadow-md">
                            <div class="flex items-center mb-4">
                                <span class="text-yellow-400 mr-2">
                                    ★★★★☆
                                </span>
                                <p class="text-lg font-semibold text-gray-900">Lucas et Clara</p>
                            </div>
                            <p class="text-lg text-gray-700">"Le cadre est magnifique et les prestations sont à la hauteur de nos attentes. Un séjour parfait pour se ressourcer en couple."</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    
    </div>

    <app-footer></app-footer>
</div>