<div class="bg-custom-beige">

    <app-hero-section></app-hero-section>

    <div id="target-element" class="container mx-auto py-16 px-4">
        <h1 class="text-4xl font-merriweather font-bold mb-12 text-custom-gray">Nos Chambres Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim harum facilis libero dolore officiis? Possimus quo eum expedita recusandae corporis delectus velit maxime, minus itaque repellat sint corrupti nihil quod?</h1>
        <hr class="border-t-2 border-[#E2E8F0] mb-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="house-card relative overflow-hidden cursor-pointer h-[450px]" *ngFor="let room of rooms"
                (click)="navigateToRoomDetail(room.id)">
                <img [src]="room.coverUrl" [alt]="room.name" class="w-full h-full object-cover">
                <div
                    class="overlay absolute inset-0 bg-black bg-opacity-50 opacity-0 transition-opacity duration-300 flex items-center justify-center">
                    <div class="text-center text-white p-4">
                        <h2 class="text-2xl font-merriweather font-bold">{{room.name}}</h2>
   
                    </div>
                </div>
                <div class="absolute bottom-0 left-0 right-0 bg-white bg-opacity-80 p-4 text-center">
                    <p class="text-lg font-semibold text-custom-gray">À partir de 5000 XPF la nuit</p>
                    <p class="mt-1 text-sm text-custom-gray">37m², ventilateur, balcon</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container px-4 mx-auto flex flex-col md:flex-row pb-[100px]">
        
        <div class="w-full md:w-2/3">
            <div class="mb-8">
                <h1 class="text-4xl font-merriweather font-bold mb-12 text-custom-gray">Découvrez notre gîte</h1>
                <hr class="border-t-2 border-[#E2E8F0] mb-8">
                <p class="text-lg">Profitez d'une expérience unique dans notre gîte, où chaque détail a été pensé pour
                    votre confort et votre plaisir.</p>
            </div>
            <div class="space-y-8 pb-12">
                <div class="flex items-start">
                    <div class="ml-4">
                        <h3 class="text-xl font-merriweather font-bold text-custom-gray">Tranquillité</h3>
                        <p>Un cadre paisible et serein pour des moments de relaxation totale.</p>
                    </div>
                </div>
                <div class="flex items-start">

                    <div class="ml-4">
                        <h3 class="text-xl font-merriweather font-bold text-custom-gray">Coucher de soleil</h3>
                        <p>Admirez des couchers de soleil époustouflants depuis notre terrasse.</p>
                    </div>
                </div>
                <div class="flex items-start">

                    <div class="ml-4">
                        <h3 class="text-xl font-merriweather font-bold text-custom-gray">Équipements modernes</h3>
                        <p>Des installations de pointe pour votre confort et commodité.</p>
                    </div>
                </div>
                <div class="flex items-start">

                    <div class="ml-4">
                        <h3 class="text-xl  font-merriweather font-bold text-custom-gray">Nature à proximité</h3>
                        <p>Accès direct à des sentiers de randonnée et à des paysages naturels.</p>
                    </div>
                </div>
                <div class="flex items-start">

                    <div class="ml-4">
                        <h3 class="text-xl font-merriweather font-bold text-custom-gray">Activités variées</h3>
                        <p>Profitez d'un large éventail d'activités de loisirs pour toute la famille.</p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 px-4">
                <div class="gallery-item h-80">
                    <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-traditional-trip-3032-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*"
                        alt="Photo 1">
                </div>
                <div class="gallery-item h-80">
                    <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-oro-bay-6137-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*"
                        alt="Photo 2">
                </div>
                <div class="flex flex-col gap-1">
                    <div class="gallery-item h-40">
                        <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-activities-resort-3038-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*"
                            alt="Photo 3">
                    </div>
                    <div class="gallery-item h-40">
                        <img src="https://cache.marriott.com/is/image/marriotts7prod/md-ilpmd-nautical-activities-35336:Wide-Hor?wid=1336&fit=constrain"
                            alt="Photo 5">
                    </div>
                </div>
                <div class="flex flex-col gap-1">
                    <div class="gallery-item h-40">
                        <img src="https://cache.marriott.com/is/image/marriotts7prod/md-ilpmd-bike-tour-23101:Wide-Hor?wid=1336&fit=constrain"
                            alt="Photo 3">
                    </div>
                    <div class="gallery-item h-40">
                        <img src="https://cache.marriott.com/is/image/marriotts7prod/md-ilpmd-nautical-activities-3-40289:Wide-Hor?wid=1336&fit=constrain"
                            alt="Photo 5">
                    </div>
                </div>
                <div class="gallery-item h-40 md:h-80">
                    <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-attraction-bay-2007-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*"
                        alt="Photo 4">
                </div>
                <div class="gallery-item h-40 md:h-80">
                    <img src="https://cache.marriott.com/content/dam/marriott-renditions/ILPMD/ilpmd-attraction-isle-1590-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*"
                        alt="Photo 4">
                </div>
            </div>
            <div class="space-y-8 px-4 pt-[100px]">
                <h1 class="text-4xl font-merriweather font-bold mb-12 text-custom-gray">Nos avis</h1>
                <hr class="border-t-2 border-[#E2E8F0] mb-8">
                <div class="space-y-6">
                    <app-review></app-review>
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/3">
            <div *ngIf="rooms.length > 0"
                class="sticky top-[100px]">
                <app-reservation [rooms]="rooms"></app-reservation>
            </div>

        </div>
    </div>

</div>