<div class="container mx-auto space-y-6">
    <div *ngIf="reviews && reviews.length > 0" class="space-y-6">
  <div *ngFor="let review of reviews" class="bg-gray-50 p-6 shadow-md">
    <div class="flex items-center mb-4">
      <span class="text-yellow-400 mr-2 font-bold">
        {{ review.rating }} / 5
      </span>
      <p class="text-lg font-semibold text-custom-gray">{{ review.reviewer_name }}</p>
    </div>
    <p class="text-lg ">"{{ review.comment }}"</p>
    <p class="text-sm text-custom-gray mb-4 text-right">{{ review.createdAt | date: 'short' }}</p>
  </div>
</div>
