<!-- <div class="relative w-full h-[80vh]">
    <img src="https://images.unsplash.com/photo-1711917021799-5a1cde1b21a8?q=80&w=2789&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Luxury Mas" class="absolute inset-0 w-full h-full object-cover" />
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="absolute inset-0 flex items-center justify-center">
        <div class="bg-white bg-opacity-90 p-8 rounded-lg shadow-xl text-center max-w-3xl">
            <h1 class="text-2xl md:text-3xl font-bold uppercase mb-4 tracking-wide text-gray-900">
                Bienvenue à Poé
            </h1>
            <p class="text-gray-700 text-lg leading-relaxed mb-6">
                Le gîte est niché au cœur d'un paysage naturel d'exception, sur la célèbre plage de Poé en
                Nouvelle-Calédonie. Cette plage, connue pour son sable blanc immaculé et son lagon turquoise classé au
                patrimoine mondial de l'UNESCO, offre un cadre parfait pour les amoureux de la nature et de la
                tranquillité.
            </p>
            <button class="bg-[#4C6173] text-white px-6 py-3 font-semibold text-lg shadow-md hover:bg-[#3b4f5e] transition duration-300">DÉCOUVRIR</button>
        </div>
    </div>
</div>
 -->

 <div class="relative h-[80vh] bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1711917021799-5a1cde1b21a8?q=80&w=2789&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="absolute inset-0 flex items-center justify-center">
      <!-- Ajoute un margin et padding responsive sur mobile -->
      <div class="bg-white bg-opacity-90 p-8 shadow-xl text-center max-w-3xl mx-4 sm:mx-6 md:mx-0 sm:p-6">
        <h1 class="text-3xl md:text-4xl font-playfair font-bold uppercase mb-4 tracking-wide text-gray-900">
          Bienvenue au Gîte de Poé
        </h1>
        <p class="text-gray-700 text-lg leading-relaxed mb-6">
          Niché dans un paysage naturel d'exception, sur la célèbre plage de Poé en Nouvelle-Calédonie, le Gîte de Poé 
          offre un cadre idyllique pour les amateurs de nature et de tranquillité.
        </p>
      </div>
    </div>
  </div>
