<div class="bg-gray">
    <div class="relative h-[80vh] w-full overflow-hidden">
        <img src="https://images.unsplash.com/photo-1711917021799-5a1cde1b21a8?q=80&w=2789&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Background image" class="absolute inset-0 w-full h-full object-cover opacity-90">
        <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-4">
            <h1 class="text-white font-thin tracking-widest uppercase 
                        text-4xl md:text-6xl lg:text-[150px] 
                        mb-6 
                        select-none">
                Skagite
            </h1>
            <div class="max-w-2xl mx-auto bg-custom-gray p-4">
                <p class="text-custom-beige leading-relaxed opacity-80">
                    Un havre de tranquillité niché entre terre et mer, où chaque coin raconte une histoire, chaque
                    espace respire l'authenticité. Skagite n'est pas just un lieu, c'est une expérience qui transcende
                    l'ordinaire.
                </p>
            </div>
        </div>
    </div>
</div>