<div class="relative w-full h-[80vh]">
    <img src="https://images.unsplash.com/photo-1711917021799-5a1cde1b21a8?q=80&w=2789&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Luxury Mas" class="absolute inset-0 w-full h-full object-cover" />
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="absolute inset-0 flex items-center justify-center">
        <div class="bg-white bg-opacity-90 p-8 rounded-lg shadow-xl text-center max-w-lg">
            <h1 class="text-4xl md:text-6xl font-bold uppercase mb-4 tracking-wide text-gray-900">
                Bienvenue à Poé
            </h1>
            <p class="text-gray-700 text-lg leading-relaxed mb-6">
                Le gîte est niché au cœur d'un paysage naturel d'exception, sur la célèbre plage de Poé en
                Nouvelle-Calédonie. Cette plage, connue pour son sable blanc immaculé et son lagon turquoise classé au
                patrimoine mondial de l'UNESCO, offre un cadre parfait pour les amoureux de la nature et de la
                tranquillité.
            </p>
            <button class="bg-[#4C6173] text-white px-6 py-3 rounded-md font-semibold text-lg shadow-md hover:bg-[#3b4f5e] transition duration-300">DÉCOUVRIR</button>
        </div>
    </div>
</div>


<!-- <div class="flex items-center justify-center h-screen bg-black bg-opacity-50">
    <div class="text-center text-white space-y-6">
      <h1 class="text-5xl md:text-7xl font-bold uppercase">Welcome to Palatin</h1>
      <p class="text-lg md:text-2xl">Experience luxury and comfort like never before</p>
      <button class="px-6 py-3 bg-white text-black font-medium text-lg rounded-lg hover:bg-gray-200">
        Explore Now
      </button>
    </div>
  </div>
   -->