/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/********************************
        FONTS 
********************************/
.font-merriweather {
  font-family: 'Merriweather', serif;
}

/********************************
        CALENDAR 
********************************/
.reserved-day {
  background-color: #dc2626 !important;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF !important;
  opacity: 1 !important;
}

.non-bookable-day {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
  text-decoration: line-through;
}

.p-datepicker-calendar {
  font-size: 10px !important;
}

.custom-calendar {
  width: 100%;
  overflow: hidden;
}

.custom-calendar .p-datepicker {
  font-size: 0.75rem; 
}

.custom-calendar .p-datepicker .p-datepicker-header {
  padding: 0.5rem; 
}

.custom-calendar .p-datepicker .p-datepicker-header .p-datepicker-title {
  font-size: 0.875rem; 
}

.custom-calendar .p-datepicker .p-datepicker-calendar .p-datepicker-day {
  width: 2rem; 
  height: 2rem; 
  line-height: 2rem; 
}

.custom-calendar .p-datepicker .p-datepicker-calendar .p-datepicker-other-month,
.custom-calendar .p-datepicker .p-datepicker-calendar .p-datepicker-date {
  font-size: 0.75rem; 
}

.custom-calendar .p-datepicker .p-datepicker-calendar td {
  padding: 0.25rem; 
}

