/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// /* Style pour les dates des mois adjacents (autres mois) désactivées */
// .p-datepicker td.p-datepicker-other-month.p-disabled {
//   background-color: gray !important; /* Gris pour les dates des autres mois */
//   color: green !important;
// }

// /* Style pour les dates désactivées du mois actuel */
// .p-datepicker td.p-disabled:not(.p-datepicker-other-month) {
//   background-color: #f7dede !important; /* Rouge clair pour les dates désactivées du mois actuel */
//   color: #d9534f !important;
// }

// /* Style pour les dates des autres mois non désactivées */
// .p-datepicker td.p-datepicker-other-month {
//   background-color: #f0f0f0 !important; /* Gris clair pour les dates des mois adjacents */
//   color: #9e9e9e !important;
// }

/* Jours des mois précédents/suivants */
// .p-datepicker td.p-datepicker-other-month.p-disabled {
//   background-color: #f0f0f0 !important; /* Gris clair */
//   color: #9e9e9e !important; /* Texte gris */
// }

/* Jours réservés (rouge) */
.reserved-day {
  background-color: #dc2626 !important;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF !important;
  opacity: 1 !important;
}

/* Jours non réservables (gris foncé) */
.non-bookable-day {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
  text-decoration: line-through;
}